@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Use <a asp-controller="Systems"
           asp-action="Index">this link</a>
        to add container hosts.</a>.
    </p>
</div>
